/* Add this CSS to your styles.css or a separate .css file */
.card {
  border: 1px solid #e85353;
  border-radius: 5px;
  padding: 16px;
  margin: 10px;
  background-color: #866e6e;
  box-shadow: 0 2px 4px rgba(72, 28, 28, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 5%;
}

.card:hover {
  transform: translateY(-3px);
  background-color: rgb(33, 170, 177);
}

.filter {
  margin-bottom: 16px;
  margin-left: 10px;
}

.filter h5{
  margin: 2px;
}

.newQuestion {
  margin-bottom: 16px;
  margin-left: 10px;
}

.addNewQuestionHearder h1{
  background-color: rgb(105, 211, 35);
  margin-left: 10px;
}

.newQuestion h5{
  margin:2px
}


button {
  background-color: #e049b7;
  color: #39a09b;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #a2a8af;
}

button:active {
  background-color: #386089;
  transform: translateY(2px);
  

}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #e88888;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #3073ba;
  background-color: rgb(87, 152, 152);
}
